body {
  background: linear-gradient(skyblue, lightgreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.headers {
  display: inline-block;
  display: flex;
  flex-direction: column;
  margin: -10px;
}
.company {
  display: inline-block;
  border: 1px solid black;
  height: 110px;
}
.blogg {
  height: 90px;
  color: white;
  background-color: grey;
}
.latest {
  border: 1px solid black;
  height: 80px;
  color: whitesmoke;
  background-color: black;
}
.poker {
  display: inline-block;
  margin-left: 25px;
}
.social {
  display: inline-block;
  margin-left: 1600px;
  font-size: 35px;
}

h2 {
  display: inline-block;
  margin-left: 20px;
  padding-top: 4px;
  font-style: italic;
  text-decoration: underline;
}

.info {
  text-align: center;
}

.sponsor {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.post {
  margin-left: 50px;
  font-size: 20px;
}
